<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Payment</title>
    <link rel="stylesheet" href="/css/payment.css" />
  </head>
  <body>
	<header class="header">
	      <div class="header-container">
	          <a href="#" class="logo">
	            <img src="/images/Shop.jpg" alt="Shop Logo" class="logo-img" />
	            <span class="logo-text">Shop</span>
	          </a>
	          <nav class="nav-bar">
	            <div class="nav-padding">
	            <a href="#" class="nav-link">Home</a>
	            <a href="#" class="nav-link">Products</a>
	            <a href="#" class="nav-link">Contact</a>
	            <a href="#" class="nav-link">About</a>
	            </div>
	            <a href="#" class="logo">
	              <img src="/images/Shop.jpg" alt="Shop Logo" class="logo-img" id="userImage"/>
	              <span class="logo-text" id="userName">Shop</span>
	              <input type="hidden" id="userId" value="" />
	            </a>

	          </nav>
	      </div>
	    </header>
    <div class="container">
    <div class="divBorder" id="custForm">
      <h1>Customer Detail</h1>
      <form id="custDetails">
        <div class="form-group">
          <label for="UserName">User Name</label>
          <input type="text" id="UserName" name="UserName" required />
        </div>
        <div class="form-group">
          <label for="fName">First Name</label>
          <input type="text" id="fName" name="fName" required />
        </div>
        <div class="form-group">
          <label for="lName">Last Name</label>
          <input type="text" id="lName" name="lName" required />
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="number" id="mobile" name="mobile" required value="" disabled/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required value="" disabled/>
        </div>
        <button type="submit" class="button">Edit</button>
      </form>

      <div id="paymentStatus" class="payment-status"></div>
     </div>
    <div class="divBorder scrollable" id="addressForm" >
      <h1>Address</h1>
      <form id="paymentForm">
        <div id="radioContainer"></div>
        <button type="button" class="button" id="addAddress">Add Address</button>
         <div class="btnHorizontal">
         <button type="button" class="button" id="editAddress">Edit</button>
        <button type="button" class="button" id="deleteAddress">Delete</button>
        </div>
      </form>
     </div>
      
      <div class="divBorder" id=makePaymentForm>
      <h1>Payment</h1>
      <form id="paymentForm">
        <div class="form-group">
          <label for="userId">User ID</label>
          <input type="text" id="userId" name="userId" required />
        </div>
        <div class="form-group">
          <label for="paymentMethod">Payment Method</label>
          <select id="paymentMethod" name="paymentMethod" required>
            <option value="Wallet">Wallet</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Bank Transfer">Bank Transfer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="finalAmount">Total Amount</label>
          <input
            type="number"
            id="finalAmount"
            name="finalAmount"
            required
            value="125.00"
            disabled
          />
        </div>
        <button type="submit" class="button">Make Payment</button>
      </form>

      <div id="paymentStatus" class="payment-status"></div>
      </div>
      
      <div class="divBorder hidden" id="newAddressForm">
      <h1>Add Address</h1>
      <form id="addressForm">
        <div class="form-group">
          <label for="fLine">First Line</label>
          <input type="text" id="fLine" name="fLine" required />
        </div>
        <div class="form-group">
          <label for="sLine">Second Line</label>
          <input type="text" id="sLine" name="sLine" required />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" required />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" name="state" required />
        </div>
        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input type="number" id="pincode" name="pincode" required maxlength="6"/>
        </div>
        <div class="btnHorizontal">
         <button type="button" class="button" id="cancelAddress">Cancel</button>
        <button type="button" class="button" id="addNewAddressBtn">Add Address</button>
        </div>
      </form>

      <div id="paymentStatus" class="payment-status"></div>
      </div>
      
    </div>

    <script src="/JS/payment.js"></script>
  </body>
</html>